# Byte-compiled / cached / log files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
env/
venv/

# IDE settings
.idea/
.vscode/

# MacOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
